<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: darkblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>we went to CLOWN CHURCH today !!!!</h1>

<img src="img_clownchurch.jpg" alt="ClownChurch">
